<div class="calendar-edit" *ngIf="calendar">

  <form #calendarEditForm="ngForm">

    <div class="form-error-alert" *ngIf="errorOccured">
        Возникла ошибка при сохнанении
        <!-- {{ 'calendar.edit.errors.nameIsRequired' | translate }} -->
    </div>

    <mat-form-field>
      <input matInput 
              name="calendarName"
              #name="ngModel"
              required 
              maxlength="60" 
              [placeholder]="'calendar.edit.editCalendarNamePlaceholder' | translate"             
              [(ngModel)]="calendar.name">
      <mat-hint align="end">{{name.value?.length || 0}}/60</mat-hint>
    </mat-form-field> 

    <div class="form-error-alert" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required">
        {{ 'calendar.edit.errors.nameIsRequired' | translate }}
      </div>
      <div *ngIf="name.errors.maxlength">
        {{ 'calendar.edit.errors.nameMaxLength' | translate }}
      </div>
    </div>

    <div class="calendar-edit__buttons">
      <button class="calendar-edit__save-button" 
              [disabled]="calendarEditForm.invalid"
              mat-raised-button (click)="saveCalendar()">
        {{ 'calendar.edit.saveCalendarButton' | translate }}
      </button>
      <button class="calendar-edit__cancel-button" 
              mat-raised-button (click)="cancelEditing()">
        {{ 'calendar.edit.cancelEditingButton' | translate }}
      </button>
    </div>

  </form>

</div>