.highlight {
  background: rgb(27, 163, 231);
}

table {
  width: 100%;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
}

.notes-list__title{
  color: rgba(0,0,0,.54);
  font-size: 16px;
  margin-bottom: 20px;
}

