<div *ngIf="selectedNote && !editingNote">
  <button mat-raised-button (click)="editNote(selectedNote)">Edit</button>
</div>

<div *ngIf="editingNote">
  <button mat-raised-button (click)="saveNote()">Save</button>
  <button mat-raised-button (click)="cancelChanges()">Cancel</button>
</div>

<div>
  <app-note-info *ngIf="!editingNote" [note]="selectedNote"></app-note-info>
</div>

<div>
  <app-note-edit [note]="editingNote"></app-note-edit>
</div>

<div>
  <button mat-raised-button *ngIf="!editingNote" (click)="addNote()">Create</button>
</div>

<div *ngIf="calendarCode">

  <h3>All notes</h3>

<!--   <table>
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>To</th>
      <th>Text</th>
    </tr>
    <tr *ngFor="let note of notes" id={{note.id}}
        [class.selected]="note === selectedNote"
        (click)="selectNote(note)">
      <td>{{note.name}}</td>
      <td>{{note.fromDate}}</td>
      <td>{{note.toDate}}</td>
      <td>{{note.text}}</td>
      <td> 
        <button mat-raised-button (click)="deleteNote(note)">Delete</button>
      </td>
    </tr>
  </table> -->

  <table mat-table [dataSource]="notes" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let note"> {{note.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fromDate">
        <th mat-header-cell *matHeaderCellDef> From </th>
        <td mat-cell *matCellDef="let note"> {{note.fromDate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="toDate">
        <th mat-header-cell *matHeaderCellDef> To </th>
        <td mat-cell *matCellDef="let note"> {{note.toDate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef> Text </th>
        <td mat-cell *matCellDef="let note"> {{note.text}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let note">
          <button mat-raised-button (click)="deleteNote(note)">Delete</button> 
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let note; columns: displayedColumns;" 
          (click)="selectNote(note)"
          [ngClass]="{'highlight': selectedNote && selectedNote.id == note.id}">
      </tr>
    </table>
    
    
  
</div>
