$primary: #fafafa;
$primary-light: #ffffff;
$primary-dark: #c7c7c7;

$secondary: #81d4fa;
$secondary-light: #b6ffff;
$secondary-dark: #4ba3c7;

$default-font-family: Roboto, "Helvetica Neue", sans-serif;
$primary-text-color: #424242;
$secondary-text-color: #9e9e9e;

$form-error-color: #f44336;

$day-cell-size: 70px;
