<!-- <div > -->

  <div class="header">
   
    <span class="header__title">NoteLinks</span>
    
    <mat-form-field class="header__select-calendar" *ngIf="calendars.length > 0">
      <mat-select (selectionChange)="selectCalendar($event.value)" 
                  [matTooltip]="'home.selectCalendarPlaceholder' | translate">
        <mat-option *ngFor="let calendar of calendars" [value]="calendar.code">
          {{calendar.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="header__select-language">
      <mat-select [value]="translate.currentLang" 
                  (selectionChange)="translate.use($event.value)"
                  [matTooltip]="'home.selectLanguagePlaceholder' | translate">
        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
          {{ 'home.' + lang | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="createCalendar()">
        <mat-icon>calendar_today</mat-icon>
        <span>{{ 'home.createCalendarButton' | translate }}</span>
      </button>
      <button mat-menu-item (click)="editCalendar()">
        <mat-icon>edit</mat-icon>
        <span>{{ 'calendar.editCalendarButton' | translate }}</span>
      </button>
      <button mat-menu-item (click)="deleteCalendar()">
        <mat-icon>delete_outline</mat-icon>
        <span>{{ 'calendar.deleteCalendarButton' | translate }}</span>
      </button>
    </mat-menu>


  </div>

<!-- </div> -->

<router-outlet></router-outlet>

