
<div *ngIf="noteIsOnEditing">
  <app-note-edit></app-note-edit>
</div>

<div *ngIf="!noteIsOnEditing">

  <div>
    <button mat-raised-button (click)="editNote()">Edit note</button>
  </div>

  <div>
    <app-note-info [note]="note"></app-note-info>
  </div>

</div>


<!-- <div *ngIf="selectedNote && !editingNote">
  <button mat-raised-button (click)="editNote(selectedNote)">Edit</button>
</div>

<div *ngIf="editingNote">
  <button mat-raised-button (click)="saveNote()">Save</button>
  <button mat-raised-button (click)="cancelChanges()">Cancel</button>
</div>

<div>
  <app-note-info *ngIf="!editingNote" [note]="selectedNote"></app-note-info>
</div>

<div>
  <app-note-edit [note]="editingNote"></app-note-edit>
</div> -->
