<div class="date-picker__header">

  <button mat-icon-button
          [disableRipple]="true" 
          [matTooltip]="'datePicker.previousButton' | translate"
          mwlCalendarPreviousView                    
          [(viewDate)]="viewDate"
          [view]="view"
          (viewDateChange)="viewDateChanged()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>

  <mat-form-field class="date-picker__select-month">
    <mat-select [(ngModel)]="selectedMonth"
                (selectionChange)="monthSelected($event.value)"
                [matTooltip]="'datePicker.selectMonthPlaceholder' | translate">
      <mat-option *ngFor="let month of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="month">
        {{ 'months.' + month | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="date-picker__select-year">
    <mat-select [(ngModel)]="selectedYear"
                (selectionChange)="monthSelected($event.value)"
                [matTooltip]="'datePicker.selectYearPlaceholder' | translate">
      <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button
          [disableRipple]="true" 
          [matTooltip]="'datePicker.nextButton' | translate"
          mwlCalendarNextView                  
          [(viewDate)]="viewDate"
          [view]="view"
          (viewDateChange)="viewDateChanged()">
  <mat-icon>arrow_forward_ios</mat-icon>
  </button> 

</div>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading events...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <mwl-calendar-month-view
    [cellTemplate]="customCellTemplate"
    [eventTitleTemplate]="customEventTitleTemplate"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event.event)">
  </mwl-calendar-month-view>
</div>

<ng-template
  #customCellTemplate
  let-day="day">
  <div class="cal-cell-top">
    <div class="cal-day-badge-wrapper">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    </div>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber' : locale }}</span> 
  </div>
</ng-template>

<ng-template
  #customEventTitleTemplate
  let-event="event">
  <div class="cal-event-title">
    {{ event.title }}
  </div>
</ng-template>
