.date-picker__header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;    
}

.date-picker__select-month{
    width: 150px;
}

.date-picker__select-year{
    width: 100px;
}