<div class="note-edit" *ngIf="note">

  <form #noteEditForm="ngForm" datesOrder>
    
    <mat-form-field>
      <input matInput 
              name="noteName"
              #name="ngModel"
              required
              maxlength="60" 
              [placeholder]="'note.edit.noteNamePlaceholder' | translate" 
              [(ngModel)]="note.name">
      <mat-hint align="end">{{name.value?.length || 0}}/60</mat-hint>
    </mat-form-field>

    <div class="form-error-alert" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required">
        {{ 'note.edit.errors.nameIsRequired' | translate }}
      </div>
      <div *ngIf="name.errors.maxlength">
        {{ 'note.edit.errors.nameMaxLength' | translate }}
      </div>
    </div>

    <div class="note-edit__date-block">

      <mat-form-field class="note-edit__date-picker">
        <input matInput
                name="fromDate"
                #fromDate="ngModel"
                required
                [matDatepicker]="fromDatePicker" 
                [placeholder]="'note.edit.noteFromDatePlaceholder' | translate"                
                [(ngModel)]="timeRange.fromDate" 
                (dateChange)="onDateChanged(event$)">
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="note-edit__time-picker">
        <input matInput 
                name="fromTime"
                [ngxTimepicker]="fromTimePicker" 
                [placeholder]="'note.edit.noteFromTimePlaceholder' | translate"
                [format]="timePickerFormat" 
                [(ngModel)]="timeRange.fromTime"
                [disabled]="!timeRange.fromDate">
        <ngx-material-timepicker #fromTimePicker 
                                [ngxMaterialTimepickerTheme]="blueTheme"
                                (closed)="onFromTimeChanged(event$)">
        </ngx-material-timepicker>
      </mat-form-field>

    </div>

    <div class="note-edit__date-block">

      <mat-form-field class="note-edit__date-picker">
        <input matInput 
                name="toDate"
                #toDate="ngModel"
                [matDatepicker]="toDatePicker" 
                [placeholder]="'note.edit.noteToDatePlaceholder' | translate"
                [min]="timeRange.fromDate"
                [(ngModel)]="timeRange.toDate" 
                (dateChange)="onDateChanged(event$)"
                [disabled]="!timeRange.fromDate">
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker (dateChange)="onDateChanged(event$)"></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="note-edit__time-picker">
        <input matInput 
              name="toTime"
              [ngxTimepicker]="toTimePicker" 
              [placeholder]="'note.edit.noteToTimePlaceholder' | translate"
              [format]="timePickerFormat" 
              [min]="toTimeMinValue" 
              [(ngModel)]="timeRange.toTime"
              [disabled]="!timeRange.toDate">
        <ngx-material-timepicker #toTimePicker
                                [ngxMaterialTimepickerTheme]="blueTheme">
        </ngx-material-timepicker>
      </mat-form-field>

    </div>

    <div class="form-error-alert">        
        <div *ngIf="noteEditForm.errors?.wrongOrder && (noteEditForm.touched || noteEditForm.dirty)">
          {{ 'note.edit.errors.wrongDatesOrder' | translate }}
        </div>
        <div *ngIf="fromDate.invalid && (fromDate.dirty || fromDate.touched) && fromDate.errors.required">
          {{ 'note.edit.errors.fromDateIsRequired' | translate }}
        </div>
    </div>

    <mat-form-field>
      <textarea matInput 
                name="noteText"
                [placeholder]="'note.edit.noteTextPlaceholder' | translate" 
                type="text"
                [(ngModel)]="note.text"></textarea>
    </mat-form-field>

    <div class="note-edit__buttons">
      <button class="note-edit__save-button" 
              mat-raised-button
              [disabled]="noteEditForm.invalid"
              (click)="saveNote()">
        {{ 'note.edit.noteSaveButton' | translate }}
      </button>
      <button class="note-edit__cancel-button" 
              mat-raised-button
              (click)="cancelEditing()">
        {{ 'note.edit.cancelEditingButton' | translate }}
      </button>
    </div>

  </form>

</div>