.note-info{
  display: flex;
  flex-direction: column;
}


.note-info__name{
  font-size: 20px;
  margin-bottom: 8px;
}

.note-info__date-block{
  color:rgba(0,0,0,.54);
  font-size: 14px;
  margin-bottom: 16px;
}

.note-info__text{
  color: rgba(0,0,0,.87);
  font-size: 14px;
}