<div *ngIf="note">

  <label>{{ 'note.info.noteNameLabel' | translate }}</label>
  <label>{{note.name}}</label>

  <div>

    <label>{{ 'note.info.noteFromLabel' | translate }}</label>
    <label>{{note.fromDate | customDate:this.translate.currentLang }}</label>

    <span *ngIf="note.toDate">
      <label>{{ 'note.info.noteToLabel' | translate }}</label>
      <label>{{note.toDate | customDate:this.translate.currentLang }}</label>
    </span>

  </div>

  <div>
    <label>{{ 'note.info.noteTextLabel' | translate }}</label>
    <label>{{note.text}}</label>
  </div>

</div>
