<app-calendar-edit *ngIf="calendarIsOnEditing"></app-calendar-edit>

<div class="calendar" *ngIf="calendar && !calendarIsOnEditing">

  <div class="calendar__header">

    <app-calendar-info [calendar]="calendar"></app-calendar-info>

    <button class="calendar__create-note-button" mat-fab
            [matTooltip]="'calendar.createNoteButton' | translate" 
            (click)="createNote()">
      <mat-icon>add</mat-icon>
    </button>    

  </div>

  <div class="calendar__content">

    <div class="calendar__note-block">

      <!-- <div class="calendar__date-picker"> -->
        <app-date-picker class="calendar__date-picker" [calendarCode]="calendar.code"></app-date-picker>
      <!-- </div> -->

      <!-- <div class="calendar__note"> -->
        <app-note class="calendar__note"></app-note>
      <!-- </div> -->

    </div>

    <!-- <div class="calendar__notes-list"> -->
      <app-notes-list class="calendar__notes-list" [calendarCode]="calendar.code"></app-notes-list>
    <!-- </div> -->

  </div>

</div>

