<app-calendar-edit *ngIf="calendarIsOnEditing"></app-calendar-edit>

<div class="calendar" *ngIf="calendar && !calendarIsOnEditing">

  <div class="calendar__header">

    <app-calendar-info [calendar]="calendar"></app-calendar-info>

    <button class="calendar__create-note-button" mat-icon-button
            [disableRipple]="true"
            [matTooltip]="'calendar.createNoteButton' | translate" 
            (click)="createNote()">
      <mat-icon>note_add</mat-icon>
    </button>    

    <button mat-icon-button
            [disableRipple]="true"
            [matTooltip]="'calendar.editCalendarButton' | translate" 
            (click)="editCalendar()">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button
            [disableRipple]="true"
            [matTooltip]="'calendar.deleteCalendarButton' | translate" 
            (click)="deleteCalendar()">
      <mat-icon>delete_outline</mat-icon>
    </button>

  </div>

  <div class="calendar__content">

    <div class="calendar__note-block">

      <div class="calendar__date-picker">
        <app-date-picker [calendarCode]="calendar.code"></app-date-picker>
      </div>

      <div class="calendar__note">
        <app-note></app-note>
      </div>

    </div>

    <div class="calendar__notes-list-title">
      {{ 'noteList.header' | translate }}
    </div>

    <div class="calendar__notes-list">
      <app-notes-list [calendarCode]="calendar.code"></app-notes-list>
    </div>

  </div>

</div>

