@import "../common";

$note-width: 400px;
$content-padding: 30px;

:host {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  background-color: $primary-light;
  flex-direction: column;
  width: 65%;
  min-width: $day-cell-size * 7 + $note-width + $content-padding * 2 + 40px;
  margin: 20px auto;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 6px 6px rgba(0,0,0,.24), 0 0 6px rgba(0,0,0,.12);

  &__header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    padding: 8px $content-padding;
    margin: 30px 0;
  }

  &__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8px $content-padding;
  }

  &__note-block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 20px;
  }

  &__date-picker {
    flex: 0 $day-cell-size * 7;
    margin-right: 40px;
    min-height: 500px;
  }

  &__note {
    flex: 0 $note-width;
    display: flex;
    flex-direction: column;
    max-width: $note-width;
  }
}

@media only screen and (max-width: 700px) {

  .calendar {
    width: 100%;
    min-width: 0;

    &__note-block {
      flex-direction: column;
      justify-content: center;
    }

    &__note{
      flex: 0 0 auto;
    }
  }
  
}

.mat-fab{
  background-color: $secondary;
  color: $primary-text-color;
}
