<div *ngIf="calendar">

  <div *ngIf="calendarIsOnEditing">
    <app-calendar-edit></app-calendar-edit>
  </div>

  <div *ngIf="!calendarIsOnEditing">

    <div>
      <!-- [disableRipple]="true" -->
      <button mat-raised-button (click)="editCalendar()">{{ 'calendar.editCalendarButton' | translate }}</button>
    </div>
  
    <div>
      <button mat-raised-button (click)="deleteCalendar()">{{ 'calendar.deleteCalendarButton' | translate }}</button>
    </div>

    <div>
      <app-calendar-info [calendar]="calendar"></app-calendar-info>
    </div>

    <div>
      <app-date-picker [calendarCode]="calendar.code"></app-date-picker>
    </div>

    <div>
      <button mat-raised-button (click)="createNote()">{{ 'calendar.createNoteButton' | translate }}</button>
    </div>

    <div>
      <app-note></app-note>
    </div>

    <div>
      <app-notes-list [calendarCode]="calendar.code"></app-notes-list>
    </div>

  </div>

</div>

